body {
  font-family: 'Roboto', sans-serif;
}

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/public/banner-bg1.jpg") no-repeat center center/cover;
  background-size: cover; /* Ensure the image covers the whole viewport */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
  
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark overlay */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(2px); /* Frosted glass effect */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 100%;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.form-group {
  width: 100%; /* Adjust to match the text boxes */
  margin-bottom: 20px;
  text-align: left;
}

.login-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8); /* Proper label color */
  font-size: 1rem;
}

.login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: white; 
  background: transparent; 
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Light white for placeholders */
}


.login-form .form-group input:focus {
  border-color: #FFB74D;
}

.btn-login {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color:#FFB74D;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #FF6F61;
  transform: translateY(-3px);
}

.signup-link {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ffffff;
}

.signup-link a {
  color: #FFB74D;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-form {
    padding: 20px;
  }

  .btn-login {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .login-form {
    padding: 15px;
  }

  .btn-login {
    font-size: 0.9rem;
  }
}